/*------------------------------------*\
  GENERAL
\*------------------------------------*/


/*------------------------------------*\
  NAVIGATION
\*------------------------------------*/

#navigation{
  position: sticky;
  top: 0;
  width: 100%;
  font-size: 17px;
  background: white;
  border: 0; 
  z-index: 100;

  -webkit-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.08);
     -moz-box-shadow: 0 3px 3px rgba(0,0,0,0.08);
          box-shadow: 0 3px 3px rgba(0, 0, 0, 0.08);
}

#navigation a{
  color: #25afe2;
}

#navigation a:hover{
  color: white;
  background-color: #25afe2;
}

.barname{
    font-size: 17px;
}

.btn2{
    margin-top: 20px;
    margin-left: 10px;
    background-color: #03cba4; /* Green */
    border: none;
    color: white;
    padding: 8px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
}

.btn2:hover{
    box-shadow: 0 10px 15px 0 rgba(0,0,0,0.24), 0 15px 30px 0 rgba(0,0,0,0.19);
}

#exampleInputEmail2{
    width: 250px;
}
/*------------------------------------*\
  LOGO SECTION
\*------------------------------------*/

#hero{
  height: 500px;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: scroll;
  background-color: #25afe2;
  z-index: -1; /*push to the background */
}

@media (min-width:768px){
  #hero {
    height: 450px;
  }
}

@media all and (min-width: 992px) {
  #hero{
    background-attachment: fixed;
  }
}

@media (min-width:1440px){
  #hero {
    height: 700px;
  }
}

#logo{
    font-family: 'Ubuntu', sans-serif;
    font-size: 50px;
    color: white;
    text-align: center;
    padding-top: 5%;
    margin: 0px;
    letter-spacing: 8px;
}


.iphone1{
    text-align: center;
}

#phoneimg{
    height: 700px;   
}

.desclogo{
    text-align: left;
    padding-left: 20px;
    margin-top: 10%;
    
}

.desclogo #logo{
    width: 300px;
}

.desclogo h4{
    margin-top: 30px;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 20px;
    width: 70%;
    line-height: 22px;
    
}
/*------------------------------------*\
  ABOUT
\*------------------------------------*/

#about{
  height: 500px;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: scroll;
  background-color: #ffffff;
  z-index: -1; /*push to the background */
}

@media (min-width:768px){
  #about {
    height: 450px;
  }
}

@media all and (min-width: 992px) {
  #about{
    background-attachment: fixed;
  }
}

@media (min-width:1440px){
  #about {
    height: 500px;
  }
}

#about h1{
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
    font-size: 45px;
    margin: 10% 20px 3% 20px;
    color: #25afe2; 
}

#about h4{
    text-align: center;
    margin: 0 8% 20px 8%;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 25px;
    color: #646464;
}
/*------------------------------------*\
  FEATURES
\*------------------------------------*/

#features{
  height: 500px;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: scroll;
  background-color: #25afe2;
  z-index: -1; /*push to the background */
}

@media (min-width:768px){
  #features {
    height: 450px;
  }
}

@media all and (min-width: 992px) {
  #features{
    background-attachment: fixed;
  }
}

@media (min-width:1440px){
  #features {
    height: 700px;
  }
}

#features h1{
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
    font-size: 45px;
    margin: 10% 20px 3% 20px;
    color: #ffffff; 
}



/*------------------------------------*\
  FOOTER
\*------------------------------------*/

footer{
  background: black;
  padding: 25px 0;
  text-align: center;
  color:lightgrey;
}

#social-media li {
  padding: 0 15px; /*more space to the icons sff*/
}
